.kaufman__title{
  z-index: 2;
  width: 60%;
  display: flex;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.kaufman__title_theme_dark{
  color: #F2F2F2;
}
