.description{
  display: flex;
}

.two-columns{
  display: flex;
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  min-width: 784px;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques{
  width: 920px;
  margin: auto;
  align-content: center;
}

.techniques__title{
  width: 60%;
  padding-top: 100px;
  font-weight: bold;
  display: flex;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  justify-content: center;
  }

  .techniques__subtitle{
  width: 60%;
  padding-top: 20px;
  display: flex;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  justify-content: center;
}

.techniques__cards{
  display: flex;
  margin: auto;
  list-style-type: none;
}

.tecniques__span{
  width: 100px;
}

.techniques__cards_item-image{
  width: 160px;
  height: 160px;
  padding: 60px 40px 43px;
  border-radius: 50%;
}

.techniques__cards_item-title{
  width: 240px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
  text-align: center;
}

.techniques__cards_item-description{
  width: 240px;
  padding-bottom: 60px;
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}

.video__title{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 60%;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.video__subtitle{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.video__iframe{
  width: 515px;
  height: 316px;
  border: none;
}

.video__iframe-divider{
  width: 20px;
}

.khan{
  background-color: #F2F2F2;
  margin-top: 100px;
  padding-top: 105px;
}

.khan__container{
  width: 80%;
  margin: auto;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote{
  width: 790px;
  padding-top: 50px;
  padding-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author{
  padding-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container{
  display: flex;
  padding-top: 68px;
}

.khan__book-pic{
  width: 620px;
  height: 608px;
  padding-right: 48px;
}

.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.digits{
  padding-top: 100px;
  padding-bottom: 100px;
}

.digits__title{
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin:0;
  padding-bottom: 20px;
}

.digits__subtitle{
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:0;
}

.digits__cell{
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 1100px;
}

.digits__heading{
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 60px;
}

.digits__text{
  padding-top: 20px;
  line-height: 1.20;
  font-size: 18px;
  font-weight: normal;
  vertical-align: top;
}

.digits__text_source{
  padding-top: 20px;
}

.oakley{
  background-color: #F2F2F2;
  padding-top: 160px;
  position: relative;
  top: -100px;
}

.feynman{
  padding-top: 100px;
  height: 790px;
  position: relative;
  background-color: #F2F2F2;
  z-index: -1 ;
  top: -100px;
}

.feynman__title{
  width: 775px;
  display: flex;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.feynman__subtitle{
  padding-top: 70px;
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image{
  position: absolute;
  height: 637px;
  width: 867px;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.kaufman{
  position: relative;
  background-color: black;
  padding-bottom: 90px;
  overflow: hidden;
  top: -90px;
}

.kaufman__title{
  z-index: 2;
  width: 60%;
  display: flex;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.kaufman__title_theme_dark{
  color: #F2F2F2;
}

.kaufman__subtitle_theme_dark{
  color: #F2F2F2;
}

.kaufman__heading_theme_dark{
  color: #F2F2F2;
}

.kaufman__text_theme_dark{
  color: #F2F2F2;
}

.kaufman__subtitle{
  display: flex;
  padding-top: 20px;
  margin: 0;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__list{
  position: relative;
  display: flex;
  width: 1100px;
  list-style: none;
  margin: auto;
  z-index: 1;
  justify-content: space-between;
}

.kaufman__heading{
  width: 200px;
  margin: 0;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;

}

.kaufman__text{
  width: 200px;
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__triangle{
  position: absolute;
  bottom: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  z-index: 0;
  transform: rotate(-15deg);
  overflow: hidden;
  animation: rotation 20s infinite linear;
}

.resources__title{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.resources__subtitle{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__logo-zone{
  display: flex;
  margin: auto;
  width: 1100px;
  padding-top: 80px;
  padding-bottom: 217px;
  justify-content: space-between;
}

.resources__logo{
  width: 270px;
  height: 38px;
}
