.techniques__cards{
  display: flex;
  margin: auto;
  list-style-type: none;
}

.techniques__cards-image{
  width: 160px;
  height: 160px;
  padding: 60px 40px 43px;
  border-radius: 50%;
}

.techniques__cards-title{
  width: 240px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
  text-align: center;
}

.techniques__cards-description{
  width: 240px;
  padding-bottom: 60px;
  line-height: 23px;
  font-size: 18px;
  text-align: center;
}
